<div class="container mt-5">
	 <p class="text-danger text-center" ng-show="nodata">There Is No Item In Your cart</p>
<div ng-show="none">
	<h2 class="text-warning">Items In Cart</h2>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">price</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="c in cartlist">
      <th scope="row"><img class="imgwidth"  src="{{c.imge}}"></th>
      <td>{{c.proname}}</td>
      <td>{{c.price | currency:'&#8377;'}}</td>
    </tr>
  </tbody>
</table>
<hr/>
<div class="offset-8 col-md-4">
	<h4> Total Price : {{checkouttotal | currency:'&#8377;'}}</h4>
	<br/>
  <button class="btn btn-success" ng-click="generateId()">Proceed To Checkout</button>

</div>
</div> 

<div ng-show="check">
<h2> </h2>
</div>

</div>